@charset "UTF-8";

/* RESET */

* { 
    margin: 0;
    border: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


/* ESTILOS GENERALES */

div#encabezado {
	background-color: #00034b;
    height: 90px;
}

div#cuerpo {
    background-image: url('../images/cuerpo_bg.png');
    background-repeat: repeat-x;
    background-color: #fff;
    overflow: auto;
    color: #353535;
}

div#footer {
    background-color: #00034b;
    height:30px;
}


/* CLASES GENERALES */

div.interior {
    width: 900px;
    margin: 0 auto;
}

div.clearfix {
    height: 1px;
    width: 1px;
    display: block;
    clear: both;
    content: ".";
}

.right_align {
    text-align: right;
}

.center_align {
    text-align: center;
}

div.center_align {
	margin: 0 auto;
}

.hidden {
    visibility: hidden;
    display: none;  /* necesario para las tds, que si no se muestran */
}

.visible {
    visibility: visible;
}

.clickable
{
    cursor: pointer;
    cursor: hand;
}

/* ENCABEZADO */
div#encabezado div.interior {
    background-image: url('../images/encabezado.png');
    background-repeat: no-repeat;
}

div#encabezado h1 {
    color: #fffcb4;
    height: 49px;
}

div#encabezado_pie {
	line-height: 0;
}

/* MENU */

div#menu_principal {
    float: left;
}

ul#menu_principal {
    height: 37px;
    float: left;
}

ul#menu_principal li {
    line-height: 41px;
    float: left;
    padding-right: 95px
}

ul#menu_principal li a {
    color: #f4f4f4;
    padding: 11px 0;
    font-family: Myriad Pro, Sans serif;
}

ul#menu_principal li a:hover {
    color: #fffcb4;
    text-decoration: none;
}

ul#menu_principal li a.activo {
    color: #fffcb4;
    background-image: url('../images/menu_activo.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

/* LOGO */
div#logo {
    line-height: 0;
    float: right;
    padding: 2px 0;
}

div#logo a, div#logo a:hover {
	text-decoration: none;
}

/* CUERPO */

div#cuerpo {
    font: 14px Arial
}

div#cuerpo h1 {
    font: bold 17px Sans Serif;
}

/* rutas */

div#ver_rutas {
    width: 395px;
    padding: 5px 5px 5px 0;
    float: left;
}

div#ver_rutas h1 {
    padding-bottom: 15px;
}


ul#lista_rutas li {
    line-height: 1.3
}

ul#lista_rutas li:hover {
    color: #00034b;
}

ul#lista_rutas li.activa {
    font-weight: bold;
    color: #00034b;
}

div#paginado_rutas {
    padding-top: 10px;
    font: 12px Tahoma, Verdana;
}

div#paginado_rutas ul {
    margin: 0 auto;
    width: 200px;
}

div#paginado_rutas li {
    float: left;
    padding-right: 10px;
}

div#resumen_ruta {
    font-size: 13px;
}

div#resumen_ruta strong {
    font-weight: bold;
}


/* editar ruta */

div#ver_rutas input, div#ver_rutas textarea {
    margin: 2px 0;
    border: 1px dotted #050505;
}

div#ver_rutas select {
    margin: 2px 0;
}

div#ver_rutas br {
    margin: 4px;
}

div#ver_rutas input#descripcion {
    width: 300px;
}

div#ver_rutas input#fecha {
    width: 100px;
}

div#ver_rutas textarea {
    width: 398px;
    font-size: 12px;
}

table#waypoints {
    border: 1px solid #cee3d5;
}

table#waypoints tr {
    vertical-align: middle;
}

table#waypoints td {
    padding: 2px;
    width: 40px;
    text-align: center;
}

table#waypoints td.descripcion {
    text-align: left;
    width: 234px;
    white-space: nowrap;
    overflow: hidden;
}

table#waypoints thead tr {
    background-color: #00034b;
    color: #ffffff;
}

table#waypoints tbody tr.even {
    background-color: #ffffff;
}

table#waypoints tbody tr.odd {
    background-color: #ddddff;
}


table#waypoints img {
	width: 16px;
	height: 16px;
}


/* mapa */

div#ver_mapa {
    width: 495px;
    padding: 5px 0px 5px 5px;
    float:left;
}

div#ver_mapa h1 {
    padding: 15px 0 0 0;
}

div#map_canvas {
    border: 2px solid #800000;
    height: 496px;
    width: 496px;
}

div#detalles_mapa {
	font-size: 12px;
}

div#detalles_mapa strong {
	font-weight: bold;
}



/* FOOTER */

ul#menu_footer {
    height: 35px;
    float: right;
}

ul#menu_footer li {
    line-height: 30px;
    float: left;
    padding-right: 15px
}

ul#menu_footer li a {
    color: #aa9c8b;
    padding: 10px 0;
    font-family: Myriad Pro, Sans serif;
    font-size: small;
}

ul#menu_footer li a:hover {
    color: #f4f4f4;
    text-decoration: none;
}

ul#menu_footer li a.activo {
    color: #f4f4f4;
    background-image: url('../images/menu_activo.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

div.error, div.info, div.warning {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 6px;
    font-size: 9px;
    font-family: Arial;
    border: 2px solid #800000;
    border-radius: 7px;
    overflow:hidden;
    vertical-align: center;
}

div.error {
    background-color: #F66;
    border: 2px solid #800000;
}

div.info {
    background-color: #66F;
    border: 2px solid #000080;
}

div.warning {
    background-color: #FD0;
    border: 2px solid #808000;
}

img.error_icono, img.info_icono, img.warning_icono {
    float:left;
    width: 16px;
    height: 16px;
}

div.error_msg, div.info_msg, div.warning_msg {
    float:left;
    padding: 3pt;
}