div#route_form {
    font-size: 13px;
    margin-bottom: 10px;
    overflow: hidden;
}


div#route_data, div#waypoints, div#route_controls {
    float: left;
    overflow: hidden;
}

div#route_data, div#waypoints {
    width: 395px;
    margin-right: 10px;
}

div#waypoints {
    width: 393px;
    overflow: auto;
    height: 151px;
}


.button_style {
    padding: 4px 13px;
    width: 62px;
    margin-bottom: 5px;
}

input[name=title] {
    width: 210px;
}

input[name=date] {
    width: 68px;
    font-family: inherit;
}

select[name=vehicle] {
    width: 73px;
    margin-right: 15px
}

input[type=checkbox] {
    padding-left: 3px;
}

.row input, .row textarea, .row label {
    vertical-align: middle;
}


textarea[name=description] {
    width: 383px;
    height: 93px;
}

.row label {
    padding-right: 1px;
}

label[for=date] {
    padding-left: 4px;
}

table#waypoints {
    font-size: 13px;
    width: 380px;
    margin-top: 3px;
}

div#waypoints {
    height: 175px;
    border: 1px solid #bbb;
}


#route_map {
    width: 900px;
    height: 436px;
}

#map_canvas {
    width: 896px;
    height: 432px;
}




/* waypoints table */

tr {
    vertical-align: middle;
}

td {
    padding: 2px;
    width: 40px;
    text-align: center;
}

td.description {
    text-align: left;
    width: 234px;
    white-space: nowrap;
    overflow: hidden;
}

thead tr {
    font-size: 10px;
    background-color: #00034b;
    color: #ffffff;
}


tbody tr.even {
    background-color: #fff;
}

tbody tr.odd {
    background-color: #CBDAEB;
}

table img {
    width: 16px;
    height: 16px;
}


input{
    height: 18px;
}

input[type=checkbox] {
    width: 14px;
    height: 14px;
}