@charset "UTF-8";

/* RESET */

* { 
    margin: 0;
    border: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


/* ESTILOS GENERALES */

#encabezado, #footer {
    background-color: #00034B;
}

#encabezado {
    height: 90px;
}

#cuerpo {
    background-image: url('../images/cuerpo_bg.png');
    background-repeat: repeat-x;
    background-color: #fff;
    overflow: auto;
    color: #353535;
}

#footer {
    height:30px;
}


/* CLASES GENERALES */

p {
    padding-bottom: 10px;
}

div.interior {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

div.clearfix {
    height: 1px;
    width: 1px;
    display: block;
    clear: both;
    content: ".";
}

.right_align {
    text-align: right;
}

.center_align {
    text-align: center;
}

div.center_align {
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
    display: none;  /* necesario para las tds, que si no se muestran */
}

.visible {
    visibility: visible;
}

.clickable
{
    cursor: pointer;
    cursor: hand;
}

/* ENCABEZADO */
#encabezado div.interior {
    background-image: url('../images/encabezado.png');
    background-repeat: no-repeat;
}

#encabezado h1 {
    color: #fffcb4;
    height: 49px;
}

#titulo {
    width: 80%;
    float: left;
}

/* IDIOMAS */

ul#languages {
    float: right;
}

ul#languages li {
    line-height: 21px;
    float: left;
    padding-right: 8px;
}



/* MENU */

#menu_principal {
    height: 37px;
    float: left;
}

#menu_principal li {
    line-height: 55px;
    float: left;
    padding-right: 75px;
    font-weight: bold;
}

#menu_principal li a {
    color: #f4f4f4;
    padding: 11px 0;
    font-family: Myriad Pro, Sans serif;
    font-size: smaller;
}

#menu_principal li a:hover {
    color: #fffc71;
    text-decoration: none;
}

/* LOGO */
#logo {
    line-height: 0;
    float: right;
    padding: 2px 0;
}

#logo a, #logo a:hover {
    text-decoration: none;
}


/* Mensajes de error */

.error, .info, .warning {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 6px;
    font-size: 10px;
    font-family: Arial;
    border: 2px solid #800000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow:hidden;
    vertical-align: center;
    border: 2px solid;
}

.error {
    border-color: #800000;
    background-color: #F66;
}

.info {
    background-color: #66F;
    border-color: #000080;
}

.warning {
    background-color: #FD0;
    border-color: #808000;
}

img.error_icono, img.info_icono, img.warning_icono {
    float:left;
    width: 16px;
    height: 16px;
}

div.error_msg, div.info_msg, div.warning_msg {
    float: left;
    padding: 3pt;
}


/* CUERPO */

#cuerpo {
    font: 14px Arial
}

#cuerpo h1 {
    font: bold 17px Sans Serif;
}


/* Campos de entrada de datos */

.modal {
    width: 600px;
    padding: 20px 0;
    border: 0px dotted #888;
    width: 600px;
    padding: 20px 0;
    border: 0px dotted #888;
    margin-left: auto;
    margin-right: auto;
}

.modal_footer {
    margin-right: auto;
    margin-left: auto;
    clear: both;
    width: 228px;
    padding-top: 30px;
}

.modal_footer a {
    display: table-cell;
    float: left;
    margin-right: 10px;
    width: 54px;
}


input, textarea, select {
    margin: 2px 0;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
}

.row {
    display:table-row;
}

.row input, .row textarea, .row label {
    display: table-cell;
    vertical-align: top;
}

.row label {
    padding-right: 6px;
    line-height: 27px;
}

.row input, .row textarea {
    padding: 3px 5px;
    width: 300px;
}

.row .error {
    width: 250px;
    margin-bottom: 30px;
}



/* mapa */

#map_canvas {
    border: 2px solid #800000;
}


/* FOOTER */

div#users_count
{
    float: left;
}

ul#menu_footer {
    float: right;
}

ul#menu_footer li, div#users_count {
    line-height: 30px;
    float: left;
    padding-right: 15px
}

ul#menu_footer li a, div#users_count {
    color: #aa9c8b;
    padding: 0;
    font-family: Myriad Pro, Sans serif;
    font-size: smaller;
}

ul#menu_footer li a:hover {
    color: #f4f4f4;
    text-decoration: none;
}

ul#menu_footer li a.activo {
    color: #f4f4f4;
    background-image: url('../images/menu_activo.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

a.register {
    font-size: x-small;
}

.required {
    color: #800000;
}